In [44]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [46]:
path = r"C:\Users\buitr\Desktop\Data Analyst\Data Analytics Immersion\A6\02 Data"

In [48]:
df_2015 = pd.read_csv(os.path.join(path,'Original Data', '2015.csv'))
df_2016 = pd.read_csv(os.path.join(path,'Original Data', '2016.csv'))
df_2017 = pd.read_csv(os.path.join(path,'Original Data', '2017.csv'))
df_2018 = pd.read_csv(os.path.join(path,'Original Data', '2018.csv'))
df_2019 = pd.read_csv(os.path.join(path,'Original Data', '2019.csv'))

In [50]:
df_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [52]:
df_2015.shape

(158, 12)

In [54]:
df_2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [56]:
df_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [58]:
df_2016.shape

(157, 13)

In [60]:
df_2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [62]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [64]:
df_2017.shape

(155, 12)

In [66]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [68]:
df_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [70]:
df_2018.shape

(156, 9)

In [72]:
df_2018.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [74]:
df_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [76]:
df_2019.shape

(156, 9)

In [78]:
df_2019.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [80]:
# Rename and standardize each DataFrame
df_2015 = df_2015.rename(columns={
    'Country': 'Country',
    'Happiness Score': 'Happiness Score',
    'Economy (GDP per Capita)': 'GDP',
    'Family': 'Social Support',
    'Health (Life Expectancy)': 'Life Expectancy',
    'Freedom': 'Freedom',
    'Generosity': 'Generosity',
    'Trust (Government Corruption)': 'Trust'
})
df_2015["Year"] = 2015
df_2015 = df_2015[['Country', 'Year', 'Happiness Score', 'GDP', 'Social Support',
                   'Life Expectancy', 'Freedom', 'Generosity', 'Trust']]

# Repeat for each year
df_2016 = df_2016.rename(columns={
    'Country': 'Country',
    'Happiness Score': 'Happiness Score',
    'Economy (GDP per Capita)': 'GDP',
    'Family': 'Social Support',
    'Health (Life Expectancy)': 'Life Expectancy',
    'Freedom': 'Freedom',
    'Generosity': 'Generosity',
    'Trust (Government Corruption)': 'Trust'
})
df_2016["Year"] = 2016
df_2016 = df_2016[['Country', 'Year', 'Happiness Score', 'GDP', 'Social Support',
                   'Life Expectancy', 'Freedom', 'Generosity', 'Trust']]

df_2017 = df_2017.rename(columns={
    'Country': 'Country',
    'Happiness.Score': 'Happiness Score',
    'Economy..GDP.per.Capita.': 'GDP',
    'Family': 'Social Support',
    'Health..Life.Expectancy.': 'Life Expectancy',
    'Freedom': 'Freedom',
    'Generosity': 'Generosity',
    'Trust..Government.Corruption.': 'Trust'
})
df_2017["Year"] = 2017
df_2017 = df_2017[['Country', 'Year', 'Happiness Score', 'GDP', 'Social Support',
                   'Life Expectancy', 'Freedom', 'Generosity', 'Trust']]

df_2018 = df_2018.rename(columns={
    'Country or region': 'Country',
    'Score': 'Happiness Score',
    'GDP per capita': 'GDP',
    'Social support': 'Social Support',
    'Healthy life expectancy': 'Life Expectancy',
    'Freedom to make life choices': 'Freedom',
    'Generosity': 'Generosity',
    'Perceptions of corruption': 'Trust'
})
df_2018["Year"] = 2018
df_2018 = df_2018[['Country', 'Year', 'Happiness Score', 'GDP', 'Social Support',
                   'Life Expectancy', 'Freedom', 'Generosity', 'Trust']]

df_2019 = df_2019.rename(columns={
    'Country or region': 'Country',
    'Score': 'Happiness Score',
    'GDP per capita': 'GDP',
    'Social support': 'Social Support',
    'Healthy life expectancy': 'Life Expectancy',
    'Freedom to make life choices': 'Freedom',
    'Generosity': 'Generosity',
    'Perceptions of corruption': 'Trust'
})
df_2019["Year"] = 2019
df_2019 = df_2019[['Country', 'Year', 'Happiness Score', 'GDP', 'Social Support',
                   'Life Expectancy', 'Freedom', 'Generosity', 'Trust']]

In [82]:
df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

In [84]:
df.shape

(782, 9)

In [86]:
df.head()

,Country,Year,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Generosity,Trust
0,Switzerland,2015,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,Iceland,2015,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,Denmark,2015,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,Norway,2015,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,Canada,2015,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957

In [88]:
df.dtypes

Country             object
Year                 int64
Happiness Score    float64
GDP                float64
Social Support     float64
Life Expectancy    float64
Freedom            float64
Generosity         float64
Trust              float64
dtype: object

In [90]:
# Set a reasonable range for values
cols_to_check = ['Happiness Score', 'GDP', 'Social Support', 'Life Expectancy', 'Freedom', 'Generosity', 'Trust']

suspicious = pd.DataFrame()

for col in cols_to_check:
    flagged = df[(df[col] > 15) | (df[col] < 0)][['Country', 'Year', col]]
    if not flagged.empty:
        suspicious = pd.concat([suspicious, flagged])

suspicious

Empty DataFrame
Columns: []
Index: []

In [94]:
df[df['Country'] == 'Austria'][['Country', 'Year', 'Happiness Score']]

     Country  Year  Happiness Score
12   Austria  2015            7.200
169  Austria  2016            7.119
327  Austria  2017            7.006
481  Austria  2018            7.139
635  Austria  2019            7.246

In [92]:
# Empty DataFrame to collect weird values
outliers = pd.DataFrame()

# Loop through each column and country
for col in cols_to_check:
    for country in df['Country'].unique():
        values = df[df['Country'] == country][col]
        mean = values.mean()
        std = values.std()

        # Flag values that are more than 3 standard deviations from the mean
        extreme_vals = df[(df['Country'] == country) & ((df[col] > mean + 3*std) | (df[col] < mean - 3*std))][['Country', 'Year', col]]
        if not extreme_vals.empty:
            outliers = pd.concat([outliers, extreme_vals])

outliers

Empty DataFrame
Columns: []
Index: []

In [23]:
df.isnull().sum()

Country            0
Year               0
Happiness Score    0
GDP                0
Social Support     0
Life Expectancy    0
Freedom            0
Generosity         0
Trust              1
dtype: int64

In [24]:
df[df.isnull().any(axis=1)]

,Country,Year,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Generosity,Trust
489,United Arab Emirates,2018,6.774,2.096,0.776,0.67,0.284,0.186,NaN

In [25]:
# Calculate average Trust score for 2018 (excluding NaNs)
mean_trust_2018 = df[
    (df["Year"] == 2018) & (df["Trust"].notna())
]["Trust"].mean()

In [26]:
print(mean_trust_2018)

0.112

In [27]:
# Fill missing Trust value with the 2018 average
df["Trust"] = df["Trust"].fillna(mean_trust_2018)

In [28]:
df.isnull().sum()

Country            0
Year               0
Happiness Score    0
GDP                0
Social Support     0
Life Expectancy    0
Freedom            0
Generosity         0
Trust              0
dtype: int64

In [29]:
df.describe()

,Year,Happiness Score,GDP,Social Support,Life Expectancy,Freedom,Generosity,Trust
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000
mean,2016.993606,5.379018,0.916047,1.078392,0.612416,0.411091,0.218576,0.125418
std,1.417364,1.127456,0.407340,0.329548,0.248309,0.152880,0.122321,0.105750
min,2015.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2016.000000,4.509750,0.606500,0.869363,0.440183,0.309768,0.130000,0.054250
50%,2017.000000,5.322000,0.982205,1.124735,0.647310,0.431000,0.201982,0.091033
75%,2018.000000,6.189500,1.236187,1.327250,0.808000,0.531000,0.278832,0.155861
max,2019.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.838075,0.551910

In [30]:
# Remove extra white space
df['Country'] = df['Country'].str.strip()

In [31]:
# Find inconsistent country names
sorted(df['Country'].unique())

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo (Brazzaville)',
 'Congo (Kinshasa)',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hong Kong S.A.R., China',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Cyprus',
 'North Macedonia',
 'Northern Cyprus',
 'Norway',
 'Oman',
 'Pakistan',
 'Palestinian Territories',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'Somaliland Region',
 'Somaliland region',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Taiwan Province of China',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad & Tobago',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [32]:
country_new_name = {
    'Hong Kong S.A.R., China': 'Hong Kong',
    'Taiwan Province of China': 'Taiwan',
    'Macedonia': 'North Macedonia',
    'North Cyprus': 'Northern Cyprus',
    'Somaliland region': 'Somaliland',
    'Somaliland Region': 'Somaliland',
    'Trinidad & Tobago': 'Trinidad and Tobago'
}

df['Country'] = df['Country'].replace(country_new_name)

In [33]:
# Check for duplicates
df.duplicated().sum()

0

In [35]:
# Statistical tests
median_support = df["Social Support"].median()

In [36]:
high_support = df[df["Social Support"] > median_support]["Happiness Score"]
low_support = df[df["Social Support"] <= median_support]["Happiness Score"]

In [37]:
from scipy.stats import ttest_ind

t_stat, p_val = ttest_ind(high_support, low_support, equal_var=False)

print("t-Statistic:", round(t_stat, 2))
print("p-Value (Two-Tailed):", p_val)

t-Statistic: 16.53
p-Value (Two-Tailed): 8.039972991201888e-53

In [38]:
from scipy.stats import t

df = len(high_support) + len(low_support) - 2
t_crit = t.ppf(1 - 0.025, df)

print("t-Critical (Two-Tailed):", round(t_crit, 2))

t-Critical (Two-Tailed): 1.96

In [39]:
df.to_csv(os.path.join(path, 'Prepared Data', 'all_years.csv'))

AttributeError: 'int' object has no attribute 'to_csv'

In [ ]:
df.head()